@import './normalize.css';

:root {
    --color-white: #fff;
    --color-primary: #000000;
    --color-secondary: #cbcbcb;
    --font-primary: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*,
*::after, 
*::before{
    box-sizing: border-box;
}


/* typeography */

h2{
    font-size: 3rem;
    margin: 0;
}

h3{
    padding: 0;
    margin-top: 0;
    margin-bottom: 1rem;
}

/* cards */

.card__container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.card{
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 20px 10px #f3f3f3;
    margin-top: 4rem;
    right: 5rem;
}

.card__body{
    font-family: var(--font-primary);
    color: #918ca4;

}

.card__header, .card__body{
    padding: 2rem 7%;
}

.card--primary .card__header{
    font-size: 2rem;
    font-family: var(--font-primary);
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
    color:#fff;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}



/* Grid */

.grid{
    display: grid;
}

.grid--1x2{
    grid-template-columns: 1fr 1fr;
}

/* entrys and results */

.values .xValue{
    display: flex;
    width: 12rem;
    height: 2rem;
    align-items: center;
}
.values .xValue_wide{
    display: flex;
    width: 25rem;
    height: 2rem;
    align-items: center;
}

.xValue__style{
    margin: 0 0 1rem 0;
    background: #dfdee5;;
    justify-self: center;
    padding: 0 1rem;
    border: none;
    border-radius: 5px;
}

.xValue__style:focus{
    outline: none;
    transform: scale(1.05);
    transition: .3s;
}


::placeholder{
    color: #fff;
}

.results__button {
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 600;
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
    color: #fff;
    padding: 1rem 2rem;
    border: none;
    border-radius: 7px;
}

.results__button:hover{
    transform: scale(1.05);
    transition: .3s;
    cursor: pointer;
}

.results{
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color:  var(--color-primary);
    font-family: var(--font-primary);
}

.resultsSpend{
    display: flex;
    flex-direction: column;
    border: none;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color:  var(--color-primary);
    font-family: var(--font-primary);
}

.bottom{
    margin-bottom: 4rem;
}

/* phones */
@media screen and (max-width: 1020px){
    body{
        margin-bottom: 5rem;
    }

    .grid--1x2{
        grid-template-columns: 1fr;
    }
    .results{
        margin-top: 2rem;
        display: block;
    }
    .resultsSpend{
        margin-top: 2rem;
        display: block;
    }
    .values .xValue_wide{
        display: flex;
        width: 100%;
        height: 2rem;
        word-wrap: normal;
        align-items: center;
    }
    
}

/* Badges */

.badge__container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.badge {
    border-radius: 7px;
    font-size: 2rem;
    font-weight: 600;
    width: 33%;
    text-align: center;
}

.badge--primary{
    background: var(--color-primary);
    color: #fff;
}

.badge--secondary{
    background:var(--color-secondary);
    color: #fff;
}

.badge--small{
    font-size: 1rem;
    font-family: var(--font-primary);
    padding: .5rem .5rem;
}

@media screen and (min-width: 1024px){
    .badge{
        font-size: 1.5rem;
    }
    .badge--small{
        font-size: 1.2rem;
    }
}


